<appSettings>
  <add key="FacebookAppId" value="1000433973727268" />
  <add key="FacebookAppSecret" value="7f469c2b1ca5b028adafaaee155448e0" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>